/* ===============================
   PUBLICATIONS SECTION
================================ */

.publications-section { 
    background: #f9f9f9;
}

.section-header h2 {
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 10px;
}

.section-header p {
    color: #666;
    margin-bottom: 50px;
}

/* ===============================
   SECTION TITLE STYLE
================================ */

.section-title {
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 3px;
    color: #555;
    position: relative;
    display: block;
    text-align: center;
    margin-bottom: 70px;
}

/* Green curved animated line */
.section-title::after {
    content: "";
    position: absolute;
    left: 10%;
    bottom: -15px;
    width: 80%;
    height: 8px;
    background: #5fbf63;
    border-radius: 50px;

    transform: scaleX(0);
    transform-origin: left;

    animation: drawLine 2.5s ease-in-out infinite alternate;
}

/* Animation */

/* Thin blue accent line */
/* .section-title::before {
    content: "";
    position: absolute;
    left: 17.5%;
    bottom: -28px;
    width: 65%;
    height: 3px;
    background: #2f80ed;
    border-radius: 50px;
} */

/* Animation */
@keyframes drawLine {
    0% {
        transform: scaleX(0);
        transform-origin: left;
    }

    50% {
        transform: scaleX(1);
        transform-origin: left;
    }

    51% {
        transform-origin: right;
    }

    100% {
        transform: scaleX(0);
        transform-origin: right;
    }
}

/* Publication Cards */
.publication-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 1250px;
    margin: 0 auto; /* centers everything */
}

.publication-card {
    background: #fff;
    padding: 25px 30px;
    border-radius: 50px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease;
}

.publication-card:hover {
    transform: translateY(-5px);
}

.publication-card h5 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.authors {
    font-size: 14px;
    color: #444;
    margin-bottom: 5px;
}

.journal {
    font-size: 14px;
    color: #777;
    font-style: italic;
    margin-bottom: 10px;
}

.doi-link {
    font-size: 14px;
    font-weight: 500;
    color: #111;
    text-decoration: none;
    border-bottom: 1px solid #111;
    transition: opacity 0.3s ease;
}

.doi-link:hover {
    opacity: 0.6;
}

/* Responsive */

@media (max-width: 768px) {
    .publication-card {
        padding: 20px;
    }
}
