.onstage-text {
    font-family: "OnStage", sans-serif;
    color: #ff6b6b;
}

footer a:hover {
    color: #fff !important;
    text-decoration: underline;
}

footer h6 {
    font-size: 16px;
}

footer p,
footer li {
    font-size: 14px;
}

/* Icon spacing */
.fas {
    width: 18px;
    text-align: center;
}
.custom-map-link {
    position: relative;
    display: block;
    padding: 1px 10px;
    line-height: 1.5;
    text-align: justify;
    z-index: 1;
    overflow: hidden;
    transition: color 0.25s ease;
}

/* Parallelogram hover */
.custom-map-link::after {
    content: "";
    position: absolute;
    inset: 0;
    width: 0;
    background-color: #ff6b6b;
    transform-origin: left;
    transition: width 0.3s ease;
    z-index: -1;
}

.custom-map-link:hover {
    color: #fff;
}

.custom-map-link:hover::after {
    width: 115%;
}

.problem-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.problem-modal-content {
    background: #fff;
    padding: 2rem;
    border-radius: 1rem;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    position: relative;
}

.close-btn {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-size: 1.5rem;
    border: none;
    background: transparent;
    cursor: pointer;
}
