.doctor-name {
    font-size: 34px;
    font-weight: 700;

    color: #003366;

    margin-bottom: 20px;
}

.section-title {
    font-size: 20px;
    font-weight: 600;

    color: #004d66;

    margin-bottom: 20px;

    position: relative;

    padding-left: 15px;
}

.section-title::before {
    content: "";

    position: absolute;

    left: 0;
    top: 4px;

    width: 5px;
    height: 20px;

    background: #00a3a3;

    border-radius: 5px;
}
