.login-btn {

    height: 58px;

    border: none;

    border-radius: 14px;

    font-size: 1rem;

    font-weight: 600;

    color: white;

    transition: .3s;
}

.login-btn:hover {

    transform: translateY(-3px);

    box-shadow:
        0 15px 35px rgba(37, 99, 235, .35);
}

.dev-link {

    color: #2563eb;

    font-weight: 600;

    text-decoration: none;
}

.dev-link:hover {

    color: #1d4ed8;
}