.login-container {

    animation: loginFade .7s ease;
}

@keyframes loginFade {

    from {

        opacity: 0;

        transform:
            translateY(30px);
    }

    to {

        opacity: 1;

        transform:
            translateY(0);
    }
}