body {
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    background:
        linear-gradient(rgba(5, 10, 25, .85),
            rgba(5, 10, 25, .85)),
        url('/uploads/images/welcome_page/cover.png');

    background-size: cover;
    background-position: center;
}