/* ===============================
   TOPBAR BASE
================================ */

.portfolio-topbar {
    background: #111;
    color: #eee;
    font-size: 13px;
    padding: 8px 0;

    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    z-index: 1030;
}
