/* ===============================
   TOPBAR LINKS
================================ */

.top-link {
    color: #fff;
    text-decoration: none;
    transition: opacity 0.3s ease;
}

.top-link:hover {
    opacity: 0.7;
}

/* Language Button */

.lang-btn {
    background: #fff;
    color: #111;

    border: none;
    border-radius: 20px;

    padding: 5px 12px;

    font-size: 12px;
    font-weight: 500;

    cursor: pointer;
    transition: 0.3s ease;
}

.lang-btn:hover {
    background: #ddd;
}
