/* ===============================
   RESPONSIVE
================================ */

@media (max-width: 768px) {
    .portfolio-topbar .container {
        flex-direction: column;
    }

    .top-info {
        justify-content: center;
        text-align: center;
        margin-bottom: 6px;
    }

    .top-social {
        justify-content: center;
    }
}
