.login-btn {
    height: 56px;

    border-radius: 50px;

    font-weight: 600;

    transition: $register-transition;
}

.login-btn:hover {
    transform: translateY(-2px);
}

.dev-link {
    text-decoration: none;
    font-weight: 500;
}

.dev-link:hover {
    text-decoration: underline;
}

