.form-label {
    font-size: .95rem;
    margin-bottom: .5rem;
}

.form-control {
    min-height: 56px;

    border-radius: 14px;

    transition: $register-transition;
}

.form-control:focus {
    box-shadow: none;
    border-color: $register-primary-color;
}

.toggle-password {
    position: absolute;

    top: 50%;
    right: 18px;

    transform: translateY(-50%);

    cursor: pointer;
}

.invalid-feedback {
    display: block;
    margin-top: .4rem;
}

