.footer-bottom {

    margin-top: 70px;

    padding: 25px 0;

    border-top:
        1px solid rgba(255, 255, 255, .08);

    display: flex;

    align-items: center;

    justify-content: space-between;
}

.footer-bottom p {

    margin: 0;

    color: rgba(255, 255, 255, .6);

    font-size: .9rem;
}