.feature-card {

    animation: cardFade .7s ease;
}

@keyframes cardFade {

    from {

        opacity: 0;

        transform:
            translateY(25px);
    }

    to {

        opacity: 1;

        transform:
            translateY(0);
    }
}