.login-wrapper {
    position: fixed;
    inset: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 30px;
}

.login-glass {
    width: 95%;
    max-width: 1200px;

    min-height: 650px;

    display: flex;
    overflow: hidden;

    border-radius: 24px;

    backdrop-filter: blur(18px);
    background: rgba(255, 255, 255, .08);

    box-shadow: $shadow-lg;

    animation: fadeIn .8s ease;
}

.login-glass.login-active {
    transform: translateX(0);
}

.login-glass.about-active {
    transform: translateX(-45%);
}