/* Large Tablet */
@media (max-width: 1200px) {

    .login-glass {
        width: 98%;
    }

    .hospital-logo {
        max-width: 420px;
    }
}

/* Tablet */
@media (max-width: 992px) {

    .login-wrapper {
        position: relative;
        min-height: 100vh;
        padding: 20px;
    }

    .login-glass {

        flex-direction: column;

        width: 100%;
        max-width: 700px;

        min-height: auto;
    }

    .about-slider,
    .login-panel {
        width: 100%;
    }

    .about-slider {
        padding: 40px;
    }

    .login-panel {
        padding: 40px;
    }

    .hospital-logo {
        max-width: 350px;
        height: auto;
    }
}

/* Mobile */
@media (max-width: 768px) {

    .login-wrapper {
        padding: 15px;
    }

    .login-glass {
        border-radius: 18px;
    }

    .about-slider {
        padding: 25px;
    }

    .login-panel {
        padding: 25px;
    }

    .hospital-logo {
        max-width: 260px;
    }

    .about-content {

        h4 {
            font-size: 1.3rem;
        }

        p,
        li {
            font-size: .9rem;
        }
    }
}

/* Small Phones */
@media (max-width: 576px) {

    .login-wrapper {
        padding: 10px;
    }

    .login-glass {
        width: 100%;
        border-radius: 15px;
    }

    .about-slider {
        padding: 20px;
    }

    .login-panel {
        padding: 20px;
    }

    .hospital-logo {
        max-width: 220px;
    }

    .form-control-lg {
        height: 48px;
        font-size: .95rem;
    }

    .login-btn {
        height: 50px;
        font-size: .95rem;
    }

    .problem-modal-content {
        width: calc(100% - 20px);
    }
}