.module-icon {
    width: 70px;
    height: 70px;
    border-radius: 20px;
    background: #eff6ff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}

.module-icon i {
    font-size: 1.8rem;
    color: #2563eb;
}