.expertise-list {
    list-style: none;
    padding-left: 0;

    margin-bottom: 20px;
}

.expertise-list li {
    position: relative;

    padding: 8px 0 8px 28px;

    font-size: 15.5px;

    color: #444;
}

.expertise-list li::before {
    content: "✔";

    position: absolute;
    left: 0;
    top: 8px;

    color: #008080;
    font-weight: bold;
}

.doctor-content p {
    margin-bottom: 20px;

    font-size: 15.8px;

    color: #555;
}